<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Commit/Reveal Voting HardHat Local</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .loader-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background */
            z-index: 9999; /* Ensure it's on top of other content */
        }

    </style>	
  </head>
  <body>


    <div id="app" class="container">
        <div v-if="spinner_active" class="loader-container">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>	
        <h1>Commit/Reveal Voting HardHat Local</h1>

        <div class="row">
            <div class="col">
                <form>
                <div class="mb-3">
                    <label for="select_account" class="form-label">Account</label>
                    <select class="form-control" id="select_account" aria-describedby="selectHelp" v-model="account"
                        v-on:change="updateAccount"
                    >
                        <option> -- </option>

                        <option v-for="a in accounts" :key="a.address" :value="a">
                            {{ a.address }}
                        </option>
                    </select>
                    <div id="selectHelp" class="form-text">Select account to use</div>
                </div>

                </form>
            </div>            
        </div>

        <div class="row mb-3">
            <div class="col">
                Account Balance: {{ formatBalanceSimple(this.balance) }}
            </div>
            <div class="col">
                Account Transactions: {{ this.trx_count }}
            </div>  
            <div class="col">
            </div>            
        </div>
        <div class="row mb-3">
            <div class="col">
                
            </div>
            <div class="col">
                
            </div>  
            <div class="col">
            </div>            
        </div>

        <div class="row mb-3">
            <div class="col">
            <p class="d-inline-flex gap-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Read me
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    This is example of commit/reveal voting. <br>
					Voting has 2 stages: commit - when user submit hash of his vote <br>
					and reveal - when user submit real vote data and program check <br>
					if this vote correspond previosly commited hash and if don't reject it. <br>
					

                    <ul>
                        <li>
                            Choose account to use from upper selector.
                        </li>
                        <li>
                            Deploy contract.
                        </li>
                        <li>
                            Generate hash and commit it when commit in progress. Use "Refresh contract Data" button to update contract progress.
                        </li>
                        <li>
                            Vote when reveal in progress.
                        </li>
                    </ul>
                </div>
            </div>
            </div>        
        </div>


        <hr class="bg-danger border-2 border-top border-danger w-50 mx-auto" />

        <div class="row mt-3 mb-3 bg-light" v-if="!contract_deployed && (account ? account.address : null)">
            <div class="col">
                <h1>Commit/Reveal Voting contract deploy</h1>
            </div>                      
        </div>
        <div class="row mt-3 " v-if="!contract_deployed && (account ? account.address : null)">
            <div class="col">
                <label for="num_of_options" class="form-label">Num of options: </label> 
                <input type="text" v-model="num_of_options" class="form-control" id="num_of_options">

                <label for="commit_start" class="form-label">Commit starts after sec: </label> 
                <input type="text" v-model="commit_start" class="form-control" id="commit_start">

                <label for="commit_end" class="form-label">Commit stops after sec: </label> 
                <input type="text" v-model="commit_end" class="form-control" id="commit_end">
                
                <label for="reveal_start" class="form-label">Reveal starts after sec: </label> 
                <input type="text" v-model="reveal_start" class="form-control" id="reveal_start">

                <label for="reveal_end" class="form-label">Reveal stops after sec: </label> 
                <input type="text" v-model="reveal_end" class="form-control" id="reveal_end">

                <button class="btn btn-primary" v-on:click="deployContract">Deploy</button>

            </div>                      
        </div>
        <div class="row mt-3 mb-3 bg-light" v-if="contract_deployed">
            <div class="col">
                <h1>Commit/Reveal Voting contract deployed</h1>
            </div>                      
        </div>
        <div class="row mt-3 mb-3 bg-light" v-if="contract_deployed">
            <div class="col">
                Contract address: {{ contract_address }} <br/>
                Commit in progress: {{ commit_in_progress }} <br/>
                Reveal in progress: {{ reveal_in_progress }} <br/>
                
                <hr>
                User <br/>
                Commited:  {{ commited }}<br/>
                Voted:  {{ voted }}<br/>

                <hr>

                Total votes
                <ul>
                    <li v-for="(vote, ind) in votes">
                        {{ind}} : {{vote}}
                    </li>
                </ul>

                <hr>

                Currect time: {{ current_time }} <br/>
                Currect block number: {{ currect_block_number }} <br/>
                Currect block time: {{ current_block_time }} <br/>

                <button class="btn btn-primary mt-3" v-on:click="refreshContractData">Refresh Contract Data</button>
            </div>                      
        </div>
       

      

        <div class="row mt-3 mb-3 bg-light" v-if="commit_in_progress && !commited">
            <div class="col">
                <h1>Submit Commit</h1>
            </div>                      
        </div>
        <div class="row mt-3 mb-3 " v-if="commit_in_progress && !commited">
            <div class="col">
                <label for="commit_data" class="form-label">Commit hash: </label>                
            </div>
            <div class="col">           
                <input class="form-control" v-model="commit_data" id="commit_data"/> 
            </div>            
            <div class="col">
                <button class="btn btn-primary" v-on:click="commit">Commit</button>
            </div>                      
        </div> 
        <div class="row mt-3 mb-3 bg-light" v-if="commit_in_progress && commited">
            <div class="col">
                <h1>Committed</h1>
            </div>                      
        </div>


        <div class="row mt-3 mb-3 bg-light" v-if="reveal_in_progress && !voted">
            <div class="col">
                <h1>Submit Reveal</h1>
            </div>                      
        </div>
        <div class="row mt-3 mb-3 " v-if="reveal_in_progress && !voted">
            <div class="col">
                <label for="reveal_op" class="form-label">Option: </label>                
            </div>
            <div class="col">             
                <input class="form-control" v-model="reveal_op" id="reveal_op"/>
            </div>            
            <div class="col">
                <label for="reveal_rand" class="form-label">Rand: </label>                
            </div>
            <div class="col">               
                <input class="form-control" v-model="reveal_rand" id="reveal_rand"/> 
            </div>                          
            <div class="col">
                <button class="btn btn-primary" v-on:click="reveal">Reveal</button>
            </div>                      
        </div> 
        <div class="row mt-3 mb-3 bg-light" v-if="reveal_in_progress && voted">
            <div class="col">
                <h1>Voted</h1>
            </div>                      
        </div>


        <hr class="bg-danger border-2 border-top border-danger w-50 mx-auto" />

        <div class="row mt-3 mb-3 bg-light" v-if="contract_deployed">
            <div class="col">
                <h1>Calculate Commit Hash</h1>
            </div>                      
        </div>
        <div class="row mt-3 mb-3 " v-if="contract_deployed">
            <div class="col">
                <label for="commit_op" class="form-label">Commit option: </label>                
                <input class="form-control" v-model="commit_op" id="commit_op"/> <br/>

                <label for="commit_rand" class="form-label">Commit rand: </label>                
                <input class="form-control" v-model="commit_rand" id="commit_rand"/> <br/>

                <label for="commit_hash" class="form-label">Commit hash: </label>                
                <input class="form-control" v-model="commit_hash" id="commit_hash"/> <br/>
            </div>                    
        </div>         
  </div>

    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>


    <script type="module">
        BigInt.prototype.toJSON = function() {
        return this.toString();
        };

        import { ethers } from "https://cdnjs.cloudflare.com/ajax/libs/ethers/6.7.0/ethers.min.js";
        import { hardhat_accounts, activateWallets } from "/js/hardhat_accounts.js";
        import { bytecode, abi } from "/js/bytecode.js";

        let app = new Vue({
        el: '#app',
        data: {
		    spinner_active: true,
            account: null,
            balance: null,
            trx_count: null,
            provider: null,

            contract_deployed: false,

            contract: null,
            contract_address: "",   
            
            num_of_options: 3,
            commit_start: 10,
            commit_end: 60,
            reveal_start: 100,
            reveal_end: 200,


            url: 'http://localhost:8545',
            accounts: [],


            current_time: null,
            current_block_time: null,

            commit_in_progress: false,
            reveal_in_progress: false,

            commited: false,
            voted: false,

            votes: [],

            commit_op: 0,
            commit_rand: 0,
            commit_hash: '',
            commit_data: '',

            reveal_op: null,
            reveal_rand: null
        },

        methods: {
            updateAccount: async function() {
				this.spinner_active = true;
                this.balance = null;
                this.trx_count = null;
                
                this.swichContactToNewAccount();
                this.refreshContractData();
				this.spinner_active = false;
            },

            deployContract: async function() {
				this.spinner_active = true;
                const Factory = new ethers.ContractFactory(abi, bytecode, this.account.wallet);

                const vote = await Factory.deploy(
                    this.num_of_options, 
                    Math.floor(Date.now() / 1000) + this.commit_start,
                    Math.floor(Date.now() / 1000) + this.commit_end,
                    Math.floor(Date.now() / 1000) + this.reveal_start,
                    Math.floor(Date.now() / 1000) + this.reveal_end
                );
                
                await vote.waitForDeployment();
 
                this.contract = vote;
                this.contract_address = await vote.getAddress();

                this.contract_deployed = true;
				this.spinner_active = false;
            },

            swichContactToNewAccount: async function() {
                if (this.account && this.contract) {
                    this.contract = new ethers.Contract(this.contract_address, abi, this.account.wallet);
                }
            },

            refreshContractData: async function() {
                if (this.provider) {
					this.spinner_active = true;
                    await this.provider.send("evm_mine");

                    this.current_time = Math.floor(Date.now() / 1000);
                    const latestBlockNumber = await this.provider.getBlockNumber();
                    this.currect_block_number = latestBlockNumber;
                    const block = await this.provider.getBlock(latestBlockNumber);
                    this. current_block_time = block.timestamp;

                    if (this.account) {
                        this.balance = await this.provider.getBalance(this.account.address);
                        this.trx_count = await this.provider.getTransactionCount(this.account.address);

                        if (this.contract) {
                            this.commit_in_progress = await this.contract.getInProgressCommit();
                            this.reveal_in_progress = await this.contract.getInProgressReveal();

                            this.commited = await this.contract.getCommited();
                            this.voted = await this.contract.getVoted();

                            this.votes = await this.contract.getResult();
                        }
                    } else {
                        this.balance = 0;
                        this.trx_count = 0;

                        this.commit_in_progress = false;
                        this.reveal_in_progress = false;
                        this.voted = false;
                        this.delegate_to = '';
                        this.votes = [];
                    }
					this.spinner_active = false;
                }
            },

            formatBalanceSimple: function (weiBalance) {
                if (weiBalance == undefined || weiBalance == null) {
                    return '0';
                }    

                const ethBalance = parseFloat(ethers.formatEther(weiBalance));
                
                if (ethBalance >= 0.001) {
                    return `${ethBalance.toFixed(6).replace(/\.?0+$/, '')} ETH`;
                } else {
                    const gweiBalance = parseFloat(ethers.formatUnits(weiBalance, "gwei"));
                    if (gweiBalance >= 0.1) {
                        return `${gweiBalance.toFixed(3).replace(/\.?0+$/, '')} Gwei`;
                    } else {
                        return `${BigInt(weiBalance).toLocaleString()} Wei`;
                    }
                }
            },
            
            commit: async function() {
				this.spinner_active = true;
                try {
                    await this.contract.commit(this.commit_data);
                    this.commit_data = '';
                    this.refreshContractData();
                } catch(e) {
                    console.log(e.message);
                    alert('Error');
                }                
				this.spinner_active = false;
            },

            reveal: async function() {
				this.spinner_active = true;
                try {
                    await this.contract.reveal(this.reveal_op, this.reveal_rand);
                    this.reveal_op = 0; 
                    this.reveal_rand = 0;
                    this.refreshContractData();
                } catch(e) {
                    console.log(e.message);
                    alert('Error');
                }                
				this.spinner_active = false;
            },            

			calc_hash: function() {
                const number1 = BigInt(this.commit_op);
                const number2 = BigInt(this.commit_rand);
                const abiCoder = new ethers.AbiCoder();
                const encoded = abiCoder.encode(['uint256', 'uint256'], [number1, number2]);

                this.commit_hash = ethers.keccak256(encoded);
			},
        },


        mounted: async function() {
            this.provider = new ethers.JsonRpcProvider(this.url);

            activateWallets(hardhat_accounts, ethers, this.provider);
            this.accounts = hardhat_accounts;
  
          
            this.current_time = Math.floor(Date.now() / 1000);
            const latestBlockNumber = await this.provider.getBlockNumber();
            this.currect_block_number = latestBlockNumber;
            const block = await this.provider.getBlock(latestBlockNumber);
            this.current_block_time = block.timestamp;

            this.contract = null;
            this.contract_address = null;

            this.commit_in_progress = false;
            this.reveal_in_progress = false;
 
			this.spinner_active = false;
        },


        watch: {
            commit_op: function (val) {
                this.calc_hash();
            },
            commit_rand: function (val) {
                this.calc_hash();
            }
        },
		
        });


    </script>
  </body>
</html>