<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My First Token HardHat Local</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .loader-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background */
            z-index: 9999; /* Ensure it's on top of other content */
        }

    </style>	
  </head>
  <body>


    <div id="app" class="container">
        <div v-if="spinner_active" class="loader-container">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
		
        <h1>My First Token HardHat Local</h1>

        <div class="row">
            <div class="col">
                <form>
                <div class="mb-3">
                    <label for="select_account" class="form-label">Account</label>
                    <select class="form-control" id="select_account" aria-describedby="selectHelp" v-model="account"
                        v-on:change="updateAccount"
                    >
                        <option> -- </option>

                        <option v-for="a in accounts" :key="a.address" :value="a">
                            {{ a.address }}
                        </option>
                    </select>
                    <div id="selectHelp" class="form-text">Select account to use</div>
                </div>

                </form>
            </div>            
        </div>
		
        <div class="row mb-3">
            <div class="col">
            <p class="d-inline-flex gap-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Read me
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    This is example of ERC20 token.

                    <ul>
                        <li>
                            Choose account to use from upper selector.
                        </li>
                        <li>
                            Admin can mint, burn, allowance. 
                        </li>
                        <li>
                            User can transfer and give allowance. 
                        </li>
                        <li>
                            User can use allowance.
                        </li>
                    </ul>
                </div>
            </div>
            </div>        
        </div>
		

        <div class="row mb-3">
            <div class="col">
                Account Balance: {{ formatBalanceSimple(this.balance) }}
            </div>
            <div class="col">
                Account Transactions: {{ this.trx_count }}
            </div>  
            <div class="col">
            </div>            
        </div>
        <div class="row mb-3">
            <div class="col">
                Token name: {{ this.name }}
            </div>
            <div class="col">
                Token symbol: {{ this.symbol }}
            </div>  
            <div class="col">
                Token decimals: {{ this.decimals }}
            </div>            
        </div>
        <div class="row mb-3">
            <div class="col">
                Token total supply: {{ this.total_supply }}
            </div>
            <div class="col">
                Token account supply: {{ this.account_supply }}
            </div>  
            <div class="col">
                Is admin: {{ this.is_admin ? 'Yes' : 'No' }}
            </div>            
        </div>

        <hr class="bg-danger border-2 border-top border-danger w-50 mx-auto" />

        <div class="row mt-3 mb-3 bg-light" v-if="is_admin">
            <div class="col">
                <h1>Admin</h1>
            </div>            
            <div class="col">
                 
            </div>
            <div class="col">
          
            </div>  
            <div class="col">

            </div>            
        </div>
        <div class="row mt-3 mb-3 bg-light" v-if="is_admin">
            <div class="col">
                <label for="admin_mint_account" class="form-label">Address to mint: </label>                
            </div>            
            <div class="col">
                 <label for="admin_mint_amount" class="form-label">Amount to mint: </label> 
            </div>
            <div class="col">
          
            </div>  
            <div class="col">

            </div>            
        </div>
        <div class="row mb-3 bg-light" v-if="is_admin">
            <div class="col">
                    <select class="form-control" id="admin_mint_account" aria-describedby="selectHelp" v-model="admin_mint_account" >
                        <option> -- </option>

                        <option v-for="a in accounts" :key="a.address" :value="a">
                            {{ a.address }}
                        </option>
                    </select>                
            </div>            
            <div class="col">
                 <input class="form-control" v-model="admin_mint_amount" id="admin_mint_amount"/>
            </div>
            <div class="col">
                 <select class="form-control" v-model="admin_mint_amount_coeff">
                    <option value="wei">Wei</option>
                    <option value="gwei">GWei</option>
                    <option value="ether">Ether</option>
                 </select>                
            </div>  
            <div class="col">
                <button class="btn btn-primary" v-on:click="adminMint">Admin Mint</button>
            </div>            
        </div>
       
        <div class="row mb-3" v-if="is_admin">
            <div class="col">
                <label for="admin_burn_account" class="form-label">Address to burn: </label>                
            </div>            
            <div class="col">
                 <label for="admin_burn_amount" class="form-label">Amount to burn: </label> 
            </div>
            <div class="col">
          
            </div>  
            <div class="col">

            </div>            
        </div>
        <div class="row mb-3" v-if="is_admin">
            <div class="col">
                    <select class="form-control" id="admin_burn_account" aria-describedby="selectHelp" v-model="admin_burn_account" >
                        <option> -- </option>

                        <option v-for="a in accounts" :key="a.address" :value="a">
                            {{ a.address }}
                        </option>
                    </select>                
            </div>            
            <div class="col">
                 <input class="form-control" v-model="admin_burn_amount" id="admin_burn_amount"/>
            </div>
            <div class="col">
                 <select class="form-control" v-model="admin_burn_amount_coeff">
                    <option value="wei">Wei</option>
                    <option value="gwei">GWei</option>
                    <option value="ether">Ether</option>
                 </select>                
            </div>  
            <div class="col">
                <button class="btn btn-primary" v-on:click="adminBurn">Admin Burn</button>
            </div>            
        </div>
        
        
        <div class="row mt-3 mb-3 bg-light" v-if="account_supply > 0">
            <div class="col">
                <h1>Transfer</h1>
            </div>            
            <div class="col">
                 
            </div>
            <div class="col">
          
            </div>  
            <div class="col">

            </div>            
        </div>
        <div class="row mb-3" v-if="account_supply > 0">
            <div class="col">
                <label for="transfer_account" class="form-label">Address to transfer: </label>                
            </div>            
            <div class="col">
                 <label for="transfer_amount" class="form-label">Amount to transfer: </label> 
            </div>
            <div class="col">
          
            </div>  
            <div class="col">

            </div>            
        </div>
        <div class="row mb-3" v-if="account_supply > 0">
            <div class="col">
                    <select class="form-control" id="transfer_account" aria-describedby="selectHelp" v-model="transfer_account" >
                        <option> -- </option>

                        <option v-for="a in accounts" :key="a.address" :value="a">
                            {{ a.address }}
                        </option>
                    </select>                
            </div>            
            <div class="col">
                 <input class="form-control" v-model="transfer_amount" id="transfer_amount"/>
            </div>
            <div class="col">
                 <select class="form-control" v-model="transfer_amount_coeff">
                    <option value="wei">Wei</option>
                    <option value="gwei">GWei</option>
                    <option value="ether">Ether</option>
                 </select>                
            </div>  
            <div class="col">
                <button class="btn btn-primary" v-on:click="transfer">Transfer</button>
            </div>            
        </div>


        <div class="row mt-3 mb-3 bg-light" v-if="account_supply > 0">
            <div class="col">
                <h1>Approve</h1>
            </div>            
            <div class="col">
                 
            </div>
            <div class="col">
          
            </div>  
            <div class="col">

            </div>            
        </div>
        <div class="row mb-3" v-if="account_supply > 0">
            <div class="col">
                <label for="approve_account" class="form-label">Address to approve: </label>                
            </div>            
            <div class="col">
                 <label for="approve_amount" class="form-label">Amount to approve: </label> 
            </div>
            <div class="col">
          
            </div>  
            <div class="col">

            </div>            
        </div>
        <div class="row mb-3" v-if="account_supply > 0">
            <div class="col">
                    <select class="form-control" id="approve_account" aria-describedby="selectHelp" v-model="approve_account" >
                        <option> -- </option>

                        <option v-for="a in accounts" :key="a.address" :value="a">
                            {{ a.address }}
                        </option>
                    </select>                
            </div>            
            <div class="col">
                 <input class="form-control" v-model="approve_amount" id="approve_amount"/>
            </div>
            <div class="col">
                 <select class="form-control" v-model="approve_amount_coeff">
                    <option value="wei">Wei</option>
                    <option value="gwei">GWei</option>
                    <option value="ether">Ether</option>
                 </select>                
            </div>  
            <div class="col">
                <button class="btn btn-primary" v-on:click="approve">Approve</button>
            </div>            
        </div>
        
        <div class="row mt-3 mb-3 bg-light" v-if="account_supply > 0">
            <div class="col">
                <h1>Allowance</h1>
            </div>            
            <div class="col">
                 
            </div>
            <div class="col">
          
            </div>  
            <div class="col">

            </div>            
        </div>        
        <div class="row mb-3" v-if="account">
            <div class="col">
                <label for="allowance_owner" class="form-label">Allowance owner: </label>                
            </div> 
            <div class="col">
                <label for="allowance_spender" class="form-label">Allowance spender: </label>                
            </div>            
            <div class="col">
                 <label class="form-label">Allowance amount: </label> 
            </div>
            <div class="col">

            </div>            
        </div>
        <div class="row mb-3" v-if="account">
            <div class="col">
                    <select class="form-control" id="allowance_owner" aria-describedby="selectHelp" v-model="allowance_owner" >
                        <option> -- </option>

                        <option v-for="a in accounts" :key="a.address" :value="a">
                            {{ a.address }}
                        </option>
                    </select>                
            </div>            
            <div class="col">
                    <select class="form-control" id="allowance_spender" aria-describedby="selectHelp" v-model="allowance_spender" >
                        <option> -- </option>

                        <option v-for="a in accounts" :key="a.address" :value="a">
                            {{ a.address }}
                        </option>
                    </select>                
            </div>            
            <div class="col">
                 {{ allowance_amount }}
            </div>
            <div class="col">
                <button class="btn btn-primary" v-on:click="allowance">Get Allowance</button>
            </div>            
        </div>
        
        
        <div class="row mt-3 mb-3 bg-light" v-if="account">
            <div class="col">
                <h1>Transfer from</h1>
            </div>            
            <div class="col">
                 
            </div>
            <div class="col">
          
            </div>  
            <div class="col">

            </div>            
        </div>
        <div class="row mb-3" v-if="account">
            <div class="col">
                <label for="transferFrom_from" class="form-label">Transfer from: </label>                
            </div>            
            <div class="col">
                 <label for="transferFrom_to" class="form-label">Transfer to: </label>  
            </div>
            <div class="col">
                <label for="transferFrom_amount" class="form-label">Transfer amount: </label> 
            </div>
            <div class="col">
          
            </div>   
            <div class="col">
          
            </div>                       
        </div>
        <div class="row mb-3" v-if="account">
            <div class="col">
                    <select class="form-control" id="transferFrom_from" aria-describedby="selectHelp" v-model="transferFrom_from" >
                        <option> -- </option>

                        <option v-for="a in accounts" :key="a.address" :value="a">
                            {{ a.address }}
                        </option>
                    </select>                
            </div>    
            <div class="col">
                    <select class="form-control" id="transferFrom_to" aria-describedby="selectHelp" v-model="transferFrom_to" >
                        <option> -- </option>

                        <option v-for="a in accounts" :key="a.address" :value="a">
                            {{ a.address }}
                        </option>
                    </select>                
            </div>                      
            <div class="col">
                 <input class="form-control" v-model="transferFrom_amount" id="transferFrom_amount"/>
            </div>
            <div class="col">
                 <select class="form-control" v-model="transferFrom_amount_coeff">
                    <option value="wei">Wei</option>
                    <option value="gwei">GWei</option>
                    <option value="ether">Ether</option>
                 </select>                
            </div>  
            <div class="col">
                <button class="btn btn-primary" v-on:click="transferFrom">Transfer From</button>
            </div>            
        </div>

        <hr class="bg-danger border-2 border-top border-danger w-50 mx-auto" />
        
        <div class="row" v-if="transferFromEvents ? transferFromEvents.length : 0">
            <div class="col">
                <h2>Transfer From account</h2>
            </div>
        </div>
        <div class="row mb-3 overflow-auto" v-for="e in transferFromEvents" >
            <div class="col">
                To {{ e.args[1] }} Amount {{ e.args[2] }} Block Number: {{ e.blockNumber }}
            </div>  
        </div>
        
        <div class="row" v-if="transferToEvents ? transferToEvents.length : 0">
            <div class="col">
                <h2>Transfer To account</h2>
            </div>
        </div>
        <div class="row mb-3 overflow-auto" v-for="e in transferToEvents" >
            <div class="col">
                From {{ e.args[0] }} Amount {{ e.args[2] }} Block Number: {{ e.blockNumber }}
            </div>  
        </div>


        <div class="row" v-if="approvalFromEvents ? approvalFromEvents.length : 0">
            <div class="col">
                <h2>Approval From account</h2>
            </div>
        </div>        
        <div class="row mb-3 overflow-auto" v-for="e in approvalFromEvents" >
            <div class="col">
                To {{ e.args[1] }} Amount {{ e.args[2] }} Block Number: {{ e.blockNumber }}
            </div>  
        </div>


        <div class="row" v-if="approvalToEvents ? approvalToEvents.length : 0">
            <div class="col">
                <h2>Approval To account</h2>
            </div>
        </div>        
        <div class="row mb-3 overflow-auto" v-for="e in approvalToEvents" >
            <div class="col">
                From {{ e.args[0] }} Amount {{ e.args[2] }} Block Number: {{ e.blockNumber }}
            </div>  
        </div>        
  </div>

    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>


    <script type="module">
        BigInt.prototype.toJSON = function() {
        return this.toString();
        };

        import { ethers } from "https://cdnjs.cloudflare.com/ajax/libs/ethers/6.7.0/ethers.min.js";
        import { hardhat_accounts, activateWallets } from "/js/hardhat_accounts.js";

        let app = new Vue({
        el: '#app',
        data: {
		    spinner_active: true,
            account: null,
            balance: null,
            trx_count: null,
            provider: null,
            name: null,
            symbol: null,
            decimals: null,
            abi: null,
            contract: null,
            contract_address: "0x5FbDB2315678afecb367f032d93F642f64180aa3",
            total_supply: null,
            account_supply: null,
            is_admin: null,

            admin_mint_account: null,
            admin_mint_amount: null,
            admin_mint_amount_coeff: null,

            admin_burn_account: null,
            admin_burn_amount: null,
            admin_burn_amount_coeff: null,

            transfer_account: null,
            transfer_amount: null,
            transfer_amount_coeff: null,

            approve_account: null,
            approve_amount: null,
            approve_amount_coeff: null, 
            
            allowance_owner: null,
            allowance_spender: null,
            allowance_amount: null,

            transferFrom_from: null,
            transferFrom_to: null,
            transferFrom_amount: null,
            transferFrom_amount_coeff: null, 

            transferFromEvents: null,
            transferToEvents: null,
            approvalFromEvents: null,
            approvalToEvents: null,

            url: 'http://localhost:8545',
            accounts: [],
        },

        methods: {
            updateAccount: async function() {
                this.balance = null;
                this.trx_count = null;

                this.refreshAccount();
            },

            refreshAccount: async function() {

                if (this.account.address) {
					this.spinner_active = true;
                    this.balance = await this.provider.getBalance(this.account.address);
                    this.trx_count = await this.provider.getTransactionCount(this.account.address);
                    
                    this.contract = new ethers.Contract(this.contract_address, this.abi, this.account.wallet);

                    this.total_supply = await this.contract.getTotalSupply();

                    this.account_supply = await this.contract.balanceOf(this.account.address); 

                    this.is_admin = await this.contract.getIsAdmin(); 

                    this.name  = await this.contract.getName();
                    this.symbol  = await this.contract.getSymbol();
                    this.decimals  = await this.contract.getDecimals();

                    let filterTransfer = this.contract.filters.Transfer(this.account.address);
                    this.transferFromEvents = await this.contract.queryFilter(filterTransfer, 0, 10);

                    let filterTransfer1 = this.contract.filters.Transfer(null, this.account.address);
                    this.transferToEvents = await this.contract.queryFilter(filterTransfer1, 0, 10);

                    let filterApproval = this.contract.filters.Approval(this.account.address);
                    this.approvalFromEvents = await this.contract.queryFilter(filterApproval, 0, 10);

                    let filterApproval1 = this.contract.filters.Approval(null, this.account.address);
                    this.approvalToEvents = await this.contract.queryFilter(filterApproval1, 0, 10);                   
					this.spinner_active = false;
                }
            },

            transfer: async function() {
				this.spinner_active = true;
                try {
                   let val = this.calc_wei(this.transfer_amount, this.transfer_amount_coeff);
                   await this.contract.transfer(this.transfer_account.address, val);
                   this.refreshAccount();
                } catch(e) {
                    console.log(e.message);
                    alert('Error');
                }
				this.spinner_active = false;				
            },

            approve: async function() {
				this.spinner_active = true;
                try {
                   let val = this.calc_wei(this.approve_amount, this.approve_amount_coeff);
                   await this.contract.approve(this.approve_account.address, val);
                   this.refreshAccount();
                } catch(e) {
                    console.log(e.message);
                    alert('Error');
                }
				this.spinner_active = false;
            },

            transferFrom: async function() {
				this.spinner_active = true;
                try {
                    let val = this.calc_wei(this.transferFrom_amount, this.transferFrom_amount_coeff);
                    await this.contract.transferFrom(this.transferFrom_from.address, this.transferFrom_to.address, val);
                    this.refreshAccount();
                } catch(e) {
                    console.log(e.message);
                    alert('Error');
                }
				this.spinner_active = false;
            },

            allowance: async function() {
				this.spinner_active = true;
                try {
                    this.allowance_amount = await this.contract.allowance(this.allowance_owner.address, this.allowance_spender.address);
                } catch(e) {
                    console.log(e.message);
                    alert('Error');
                }
				this.spinner_active = false;
            },

            adminMint: async function() {
				this.spinner_active = true;
                try {
                   let val = this.calc_wei(this.admin_mint_amount, this.admin_mint_amount_coeff);
                   await this.contract.adminMint(this.admin_mint_account.address, val);
                   this.refreshAccount();
                } catch(e) {
                    console.log(e.message);
                    alert('Error');
                }
				this.spinner_active = false;				
            },

            adminBurn: async function() {
				this.spinner_active = true;
                try {
                   let val = this.calc_wei(this.admin_burn_amount, this.admin_burn_amount_coeff);
                   await this.contract.adminBurn(this.admin_burn_account.address, val);
                   this.refreshAccount();
                } catch(e) {
                    console.log(e.message);
                    alert('Error');
                }
				this.spinner_active = false;				
            },

            formatBalanceSimple: function (weiBalance) {
                if (weiBalance == undefined || weiBalance == null) {
                    return '0';
                }    

                const ethBalance = parseFloat(ethers.formatEther(weiBalance));
                
                if (ethBalance >= 0.001) {
                    return `${ethBalance.toFixed(6).replace(/\.?0+$/, '')} ETH`;
                } else {
                    const gweiBalance = parseFloat(ethers.formatUnits(weiBalance, "gwei"));
                    if (gweiBalance >= 0.1) {
                        return `${gweiBalance.toFixed(3).replace(/\.?0+$/, '')} Gwei`;
                    } else {
                        return `${BigInt(weiBalance).toLocaleString()} Wei`;
                    }
                }
            },

            calc_wei: function(amount, coeff) {
                if (coeff == 'wei') {
                    return BigInt(amount);
                }
                if (coeff == 'gwei') {
                    return BigInt(amount * 1000000000);
                }
                if (coeff == 'ether') {
                    return BigInt(amount * 1000000000000000000);
                }
                return '-1';                
            },
            
        },

        mounted: async function() {
            this.provider = new ethers.JsonRpcProvider(this.url);

            activateWallets(hardhat_accounts, ethers, this.provider);
            this.accounts = hardhat_accounts;
  
            this.abi = [
                "function balanceOf(address) view returns (uint256)",
                "function getTotalSupply() view returns (uint256)",
                "function getIsAdmin() view returns (bool)",
                "function adminMint(address,uint256) returns (bool)",
                "function adminBurn(address,uint256) returns (bool)",
                "function transfer(address,uint256) returns (bool)",
                "function approve(address,uint256) returns (bool)",
                "function transferFrom(address,address,uint256) returns (bool)",
                "function allowance(address,address) view returns (uint256)",
                "event Transfer(address indexed from, address indexed to, uint value)",
                "event Approval(address indexed owner, address indexed spender, uint value)",

                "function getName() view returns (string)",
                "function getSymbol() view returns (string)",
                "function getDecimals() view returns (uint256)",

            ];

			this.spinner_active = false;
        }
        });


    </script>
  </body>
</html>