<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Bill HardHat Local</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .loader-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background */
            z-index: 9999; /* Ensure it's on top of other content */
        }

    </style>
  </head>
  <body>


    <div id="app" class="container">       
        <div v-if="spinner_active" class="loader-container">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <h1>Sign Bill HardHat Local</h1>

        <div class="row">
            <div class="col">
                <form>
                <div class="mb-3">
                    <label for="select_account" class="form-label">Account</label>
                    <select class="form-control" id="select_account" aria-describedby="selectHelp" v-model="account"
                        v-on:change="updateAccount"
                    >
                        <option> -- </option>

                        <option v-for="a in accounts" :key="a.address" :value="a">
                            {{ a.address }}
                        </option>
                    </select>
                    <div id="selectHelp" class="form-text">Select account to use</div>
                </div>

                </form>
            </div>            
        </div>

        <div class="row mb-3">
            <div class="col">
                Account Balance: {{ formatBalanceSimple(this.balance) }}
            </div>
            <div class="col">
                Account Transactions: {{ this.trx_count }}
            </div>  
            <div class="col">
            </div>            
        </div>
        <div class="row mb-3">
            <div class="col">
                
            </div>
            <div class="col">
                
            </div>  
            <div class="col">
            </div>            
        </div>


        <div class="row mb-3">
            <div class="col">
            <p class="d-inline-flex gap-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Read me
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    This is example how to create offline sign bill and pay it.

                    <ul>
                        <li>
                            Choose account to use from upper selector.
                        </li>
                        <li>
                            Deploy contract (first account is always owner).
                        </li>
                        <li>
                            Generate signature using lower form. It is offline operation. 
                        </li>
                        <li>
                            You can claim bill from upper form by put the same data as in lower form. Bill number must be unique and can be used only once.
                        </li>
                    </ul>
                </div>
            </div>
            </div>        
        </div>



        <hr class="bg-danger border-2 border-top border-danger w-50 mx-auto" />

        <div class="row mt-3 mb-3 bg-light" v-if="!contract_deployed && (account ? account.address : null)">
            <div class="col">
                <h1>Sign Bill contract deploy</h1>
            </div>                      
        </div>
        <div class="row mt-3 " v-if="!contract_deployed && (account ? account.address : null)">
            <div class="col">
                <button class="btn btn-primary" v-on:click="deployContract">Deploy</button>
            </div>                      
        </div>
        <div class="row mt-3 mb-3 bg-light" v-if="contract_deployed">
            <div class="col">
                <h1>Sign Bill contract deployed</h1>
            </div>                      
        </div>
        <div class="row mt-3 mb-3 bg-light" v-if="contract_deployed">
            <div class="col">
                Contract address: {{ contract_address }} <br/>
                Contract balance: {{ formatBalanceSimple(contract_balance) }} <br/>

                <hr>

                Currect time: {{ current_time }} <br/>
                Currect block number: {{ currect_block_number }} <br/>
                Currect block time: {{ current_block_time }} <br/>

                <button class="btn btn-primary mt-3" v-on:click="refreshContractData">Refresh Contract Data</button>
            </div>                      
        </div>
       

      

        <div class="row mt-3 mb-3 bg-light" v-if="contract_deployed">
            <div class="col">
                <h1>Submit Bill</h1>
            </div>                      
        </div>
        <div class="row mt-3 " v-if="contract_deployed">
            <div class="col">
                <label for="bill_amount" class="form-label">Bill amount, ethers: </label>                
                <input class="form-control" v-model="bill_amount" id="bill_amount" @input="validateFloat('sig_bill_amount')" required/> <br/>

                <div v-if="errors['bill_amount']" class="mb-3 small text-danger">
                    {{ errors['bill_amount'] }}
                </div>

                <label for="bill_num" class="form-label">Bill num: </label>                
                <input class="form-control" v-model="bill_num" id="bill_num"/> <br/>

                <div v-if="errors['bill_num']" class="mb-3 small text-danger">
                    {{ errors['bill_num'] }}
                </div>

                <label for="bill_sig" class="form-label">Bill signature: </label>                
                <input class="form-control" v-model="bill_sig" id="bill_sig"/> <br/>
            </div>                    
        </div>                    
        <div class="row mt-3  " v-if="contract_deployed">
            <div class="col">
                <button class="btn btn-primary" v-on:click="submit_bill">Submit Bill</button>
            </div>  
        </div>


        <hr class="bg-danger border-2 border-top border-danger w-50 mx-auto" />

        <div class="row mt-3 mb-3 bg-light" v-if="contract_deployed">
            <div class="col">
                <h1>Calculate Bill signature</h1>
            </div>                      
        </div>
        <div class="row mt-3 mb-3 " v-if="contract_deployed">
            <div class="col">
                <label for="sig_bill_amount" class="form-label">Bill amount, ethers: </label>                
                <input class="form-control" v-model="sig_bill_amount" id="sig_bill_amount" @input="validateFloat('sig_bill_amount')" required/> <br/>
                <div v-if="errors['sig_bill_amount']" class="mb-3 small text-danger">
                    {{ errors['sig_bill_amount'] }}
                </div>

                <label for="sig_bill_num" class="form-label">Bill num: </label>                
                <input class="form-control" v-model="sig_bill_num" id="sig_bill_num" @input="validateInt('sig_bill_num')" required/> <br/>
                <div v-if="errors['sig_bill_num']" class="mb-3 small text-danger">
                    {{ errors['sig_bill_num'] }}
                </div>

                <label for="sig_hash" class="form-label">Bill signature: </label>                
                <input class="form-control" v-model="sig_hash" id="sig_hash"/> <br/>
            </div>                   
        </div>         
  </div>

    </div>


    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <script type="module">
        BigInt.prototype.toJSON = function() {
            return this.toString();
        };

        import { ethers } from "https://cdnjs.cloudflare.com/ajax/libs/ethers/6.7.0/ethers.min.js";
        import { hardhat_accounts, activateWallets } from "/js/hardhat_accounts.js";
        import { bytecode, abi } from "/js/bytecode.js";

        let app = new Vue({
        el: '#app',
        data: {
            spinner_active: true,
            account: null,
            balance: null,
            trx_count: null,
            provider: null,

            contract_deployed: false,

            contract: null,
            contract_address: "",   
            contract_balance: "",   
            
            url: 'http://localhost:8545',
            accounts: [],

            current_time: null,
            current_block_time: null,

            sig_bill_amount: 1,
            sig_bill_num: 1,
            sig_hash: null,

            bill_amount: 1,
            bill_num: 1,
            bill_sig: "",


            errors: [],
        },

        methods: {
            updateAccount: async function() {
                this.spinner_active = true;
                this.balance = null;
                this.trx_count = null;
                
                this.swichContactToNewAccount();
                this.refreshContractData();
                this.calc_sig_hash();
                this.spinner_active = false;
            },

            deployContract: async function() {
                this.spinner_active = true;
                const Factory = new ethers.ContractFactory(abi, bytecode, this.accounts[0].wallet);

                const contract = await Factory.deploy({value: ethers.parseEther("100")});
                
                await contract.waitForDeployment();
 
                this.contract = contract;
                this.contract_address = await contract.getAddress();
                this.contract_balance = await this.provider.getBalance(this.contract_address);

                this.contract_deployed = true;

                if (this.account != this.accounts[0]) {
                    this.swichContactToNewAccount();
                }

                this.calc_sig_hash();
                this.spinner_active = false;
            },

            swichContactToNewAccount: async function() {
                if (this.account && this.contract) {
                    this.contract = new ethers.Contract(this.contract_address, abi, this.account.wallet);
                }
            },

            refreshContractData: async function() {
                if (this.provider) {
                    await this.provider.send("evm_mine");

                    this.current_time = Math.floor(Date.now() / 1000);
                    const latestBlockNumber = await this.provider.getBlockNumber();
                    this.currect_block_number = latestBlockNumber;
                    const block = await this.provider.getBlock(latestBlockNumber);
                    this. current_block_time = block.timestamp;

                    if (this.account) {
                        this.balance = await this.provider.getBalance(this.account.address);
                        this.trx_count = await this.provider.getTransactionCount(this.account.address);

                        if (this.contract_deployed) {
                            this.contract_balance = await this.provider.getBalance(this.contract_address);
                        } else {
                            this.contract_balance = null;
                        }
                    } else {
                        this.balance = 0;
                        this.trx_count = 0;

                        this.contract_balance = null;
                    }
                }
            },

            formatBalanceSimple: function (weiBalance) {
                if (weiBalance == undefined || weiBalance == null) {
                    return '0';
                }    

                const ethBalance = parseFloat(ethers.formatEther(weiBalance));
                
                if (ethBalance >= 0.001) {
                    return `${ethBalance.toFixed(6).replace(/\.?0+$/, '')} ETH`;
                } else {
                    const gweiBalance = parseFloat(ethers.formatUnits(weiBalance, "gwei"));
                    if (gweiBalance >= 0.1) {
                        return `${gweiBalance.toFixed(3).replace(/\.?0+$/, '')} Gwei`;
                    } else {
                        return `${BigInt(weiBalance).toLocaleString()} Wei`;
                    }
                }
            },
            
            validateInt: function(fieldName) {
                this.errors[fieldName] = ''
                
                const value = this[fieldName];
                
                if (value === '') {
                    this.errors[fieldName] = 'Поле обязательно для заполнения'
                    return;
                }
                
                if (!/^-?\d+$/.test(value)) {
                    this.errors[fieldName] = 'Введите целое число'
                }
            },

            validateFloat: function(fieldName) {
                this.errors[fieldName] = ''
                
                const value = this[fieldName];
                
                if (value === '') {
                    this.errors[fieldName] = 'Поле обязательно для заполнения'
                    return;
                }
                
                if (!/^-?\d*\.?\d+$/.test(value) || value == '-') {
                    this.errors[fieldName] = 'Введите число'
                }
            },

            submit_bill: async function() {
                this.spinner_active = true;

                try {
                    await this.contract.pay_bill(
                        BigInt(this.bill_num), 
                        BigInt(ethers.parseEther("" + this.bill_amount)), 
                        ethers.getBytes(this.bill_sig)
                    );
                    this.refreshContractData();
                } catch(e) {
                    console.log(e.message);
                    alert('Error');
                }

                this.spinner_active = false;
            },


            calc_sig_hash: async function() {
                if (this.account && this.contract_deployed) {
                    if (
                        this.sig_bill_amount == '' ||
                        this.sig_bill_amount == '-' ||
                        !/^-?\d*\.?\d+$/.test(this.sig_bill_amount) ||
                        this.sig_bill_num == '' ||
                        !/^-?\d+$/.test(this.sig_bill_num)
                    ) {
                        this.sig_hash = '';
                        return;
                    }


                    const hash = ethers.solidityPackedKeccak256(
                        ["address", "uint256", "uint256", "address"],
                        [this.account.address, BigInt(ethers.parseEther(""+this.sig_bill_amount)), BigInt(this.sig_bill_num), this.contract_address]
                    );

                    const messageHashBin = ethers.getBytes(hash);

                    this.sig_hash = await this.accounts[0].wallet.signMessage(messageHashBin);

                } else {
                    this.sig_hash = '';
                }
            },
        },


        mounted: async function() {
            this.provider = new ethers.JsonRpcProvider(this.url);

            activateWallets(hardhat_accounts, ethers, this.provider);
            this.accounts = hardhat_accounts;
  
          
            this.current_time = Math.floor(Date.now() / 1000);
            const latestBlockNumber = await this.provider.getBlockNumber();
            this.currect_block_number = latestBlockNumber;
            const block = await this.provider.getBlock(latestBlockNumber);
            this.current_block_time = block.timestamp;

            this.contract = null;
            this.contract_address = null;
            this.contract_balance = null;

            this.calc_sig_hash(); 

            this.spinner_active = false;
        },


        watch: {
            sig_bill_amount: function (val) {
                this.calc_sig_hash();
            },
            sig_bill_num: function (val) {
                this.calc_sig_hash();
            }
        },

        });


    </script>
  </body>
</html>